/*
external style sheet applying only to USmap viz
*/

.state body {
	font: 12px sans-serif;
}

.state rect {
	fill: #a6a8ab;
}

.state text {
	font: 12px sans-serif;
	font-weight: bold;
	text-anchor: middle;
	fill: white;
}

/*changed colors to ensure they match overall color scheme for web page*/
#map1_svg .q0-5 rect { fill: #C1B0D5; }
#map1_svg .q1-5 rect { fill: #B09AC9; }
#map1_svg .q2-5 rect { fill: #9F84BD; }
#map1_svg .q3-5 rect { fill: #836D9B; }
#map1_svg .q4-5 rect { fill: #665479; }

/*changed colors to ensure they match color scheme for overall webpage*/
#legend_container1 .q0-5 { color: #C1B0D5; }
#legend_container1 .q1-5 { color: #B09AC9; }
#legend_container1 .q2-5 { color: #9F84BD; }
#legend_container1 .q3-5 { color: #836D9B; }
#legend_container1 .q4-5 { color: #665479; }	

/*changed colors to ensure they match overall color scheme for web page*/
#map2_svg .q0-5 rect { fill: #665479; }
#map2_svg .q1-5 rect { fill: #836D9B; }
#map2_svg .q2-5 rect { fill: #9F84BD; }
#map2_svg .q3-5 rect { fill: #B09AC9; }
#map2_svg .q4-5 rect { fill: #C1B0D5; }

/*changed colors to ensure they match color scheme for overall webpage*/
#legend_container2 .q0-5 { color: #665479; }
#legend_container2 .q1-5 { color: #836D9B; }
#legend_container2 .q2-5 { color: #9F84BD; }
#legend_container2 .q3-5 { color: #B09AC9; }
#legend_container2 .q4-5 { color: #C1B0D5; }	

#legend {
	padding: 1.5em 0 0 1.5em;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
}

li.key {
	border-top-width: 15px;
	border-top-style: solid;
	font-size: 1em;
	width: 10%;
	padding-left: 0;
	padding-right: 0;
}

		