/*
external style sheet applying only to USmap viz
*/

.state body {
	font: 12px sans-serif;
}

.state rect {
	fill: #a6a8ab;
}

.state text {
	font: 12px sans-serif;
	font-weight: bold;
	text-anchor: middle;
	fill: white;
}

/*changed colors to ensure they match overall color scheme for web page*/
#map1_svg .q0-5 rect { fill: #D7CCE4; }
#map1_svg .q1-5 rect { fill: #C1B0D5; }
#map1_svg .q2-5 rect { fill: #8D819B; }
#map1_svg .q3-5 rect { fill: #585061; }
#map1_svg .q4-5 rect { fill: #35303B; }

/*changed colors to ensure they match color scheme for overall webpage*/
#legend_container1 .q0-5 { color: #D7CCE4; }
#legend_container1 .q1-5 { color: #C1B0D5; }
#legend_container1 .q2-5 { color: #8D819B; }
#legend_container1 .q3-5 { color: #585061; }
#legend_container1 .q4-5 { color: #35303B; }	

/*changed colors to ensure they match overall color scheme for web page*/
#map2_svg .q0-5 rect { fill: #252920; }
#map2_svg .q1-5 rect { fill: #49523F; }
#map2_svg .q2-5 rect { fill: #7F906F; }
#map2_svg .q3-5 rect { fill: #B5CD9E; }
#map2_svg .q4-5 rect { fill: #D1E6BB; }

/*changed colors to ensure they match color scheme for overall webpage*/
#legend_container2 .q0-5 { color: #252920; }
#legend_container2 .q1-5 { color: #49523F; }
#legend_container2 .q2-5 { color: #7F906F; }
#legend_container2 .q3-5 { color: #B5CD9E; }
#legend_container2 .q4-5 { color: #D1E6BB; }	

#legend {
	padding: 1.5em 0 0 1.5em;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
}

li.key {
	border-top-width: 15px;
	border-top-style: solid;
	font-size: 1em;
	width: 10%;
	padding-left: 0;
	padding-right: 0;
}

		