@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

  svg {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font: 10px sans-serif  ;
  }

  a:hover tspan:first-child {
    text-decoration: underline;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }

  tspan:last-child {
    font-size: 9px;
    fill-opacity: 0.7; 
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }

  